body {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 100px;
}

.card {
  border-width: 1px;
  border-style: solid;
  border-color: #f0f0f0;
  border-radius: 10px;
  width: 272px;
  position: relative;
  margin: 0 auto;
  box-shadow: 0 0 0 0 rgba(0,0,0, 0);
}

.card__pic img {
  max-height: 272px;
  border-radius: 10px 10px 0 0;
}

.card__price {
  font-weight: 900;
  flex-grow: 1;
}

.card__price-actual {
  font-size: 22px;
}

.card__price-old {
  font-size: 18px;
  color: #ccc;
  margin-left: 10px;
}

.card__price-actual, .card__price-old {
  display: inline-block;
}

.card__name {
  font-size: 15px
}

.card__name, .card__bottom {
  padding: 10px 20px;
}

.card__labels {
  position: absolute;
  top: 16px;
  left: 16px;
  display: table;
}

.card__labels-item {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 5px;
  color: white;
  display: table;
}

.card__bottom {
  display: flex;
}

.card__button {
  width: 40px;
  height: 40px;
  background-color: #ffcf01;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button:hover {
  cursor: pointer;
}

.card__button svg {
  width: 24px;
  position: relative;
  left: -1px;
}

.card__button polygon {
  fill: #ffcf01;
}

.card__labels-item + .card__labels-item {
  margin-top: 8px;
}

.card__labels-item--discount {
  background-color: #f53232;
}

.card__labels-item--new {
  background-color: #03a54f;
}

.card__labels-item--hit {
  background-color: #29abe1;
}
